.countries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}
.visited-country-container {
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  background-color: rgba(0, 0, 0, 0.089);
  padding: 10px;
}
.visited-countries {
  margin-top: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.visited-countries li {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.164);
  padding: 10px;
}

.visited-countries li img {
  width: 100px;
}
