.country {
  border: 1px solid rgba(0, 0, 0, 0.164);
  border-radius: 8px;
}
.heading {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
}

.visited-ribbon {
  background-color: green;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}
.btn-visit {
  color: white;
  background-color: rgb(26, 26, 141);
}

.btn-visited {
  color: black;
  background-color: rgba(0, 0, 0, 0.233);
}

.hidden {
  display: none;
}

.card-body {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.card-body img {
  width: 80px;
  height: auto;
  border-radius: 4px;
}
